.calendar {
  background-color: rgb(63, 133, 157);
  border: 5px solid black;
  border-radius: 30px;
  padding: 50px;
  display: inline-block;
  width: max-content;

  /* this makes it so you can't highlight this object */
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 */

  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*************/
}

/* For the arrow buttons on Calendar */
.arrow-button {
  font-size: larger;
  font-weight: bold;
  background-color: white;
}

/* For Month and Year Appearance */
#month-year-text {
  font-family:'Times New Roman', Times, serif;
  font-size: 36pt;
  margin: 3%;
}

/* For Day of Week Text "Su", etc. */
.day-week-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  text-decoration: underline;
}