.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
    width: 1060px;
    justify-content: center;
}

.doughnut {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.bar {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.macro-table-container {
    margin: auto;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 1060px;
}

.food-selecter-container {
    margin: auto;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    max-width: 1060px;
}

.log-food {
    width: 300px;
}

.food-selecter {
    color: black;
    background-color: white;
}

.table-header {
    background-color: white;
    font-size: 20px;
    color: black;
}

.food-input {
    margin-top: 20px;
    width: 300px;
    height: 30px;
}

/* CSS */
.food-button {
    margin: 5px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.food-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.food-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.food-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.852);
}

th, td {
    padding: 15px;
    background-color:rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
}

thead th {
    background-color: #55608f;
}

tbody tr :hover{
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td :hover ::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}