#settings-list {
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  display: inline-block;
}

.settings-list-element {
  font-size: 0;
}

.settings-text {
  font-size: 36px;
  float: left;
}

#settings-text-box {
  font-size: 24px;
  vertical-align: middle;
}

.settings-buttons {
  font-size: 32px;
  float: right;
}

.settings-error {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border-radius: 4px;
}

#delete-button {
  background-color: red;
}