.block--styling{
    background-color: lightblue;
    display: inline-block;
    margin: 25px;
    height: 550px;
    width: 350px;
    border-radius: 10px;
}

.weight-input{
    text-decoration: dashed;
    border-radius: 5px;
    margin: 5px;
    height: 25px;
    max-height: 5%;
    width: 225px;
    max-width: 90%;
    gap: 5px;
}

.weight-button{
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #1f6bb2;
  border: 1px solid #1f6bb2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}
