.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: white;
  list-style-type: none;
  width: 60px;
  padding: 0 10px 0 10px; /* Total Width is 80px*/
  z-index: 99; /* forces navbar to be on top */

  /* this makes it so you can't highlight this object */
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 */

  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*************/
}

.navbar > ul {
  padding: 0%;
}

.navbar-icon {
  margin-bottom: 15px;
  padding-bottom: 5px;
  width: 60px;
}

/* make navbar bottom padding same as border */
.navbar-icon:hover {
  border-bottom: 5px solid black;
  padding-bottom: 0;
}

#logout-button {
  position: fixed;
  bottom: 0px;
  background-color: white;
}
