/* generic calendar tile */
.tile {
  height: 75px;
  width: 75px;
  outline: 1px solid black;
  display: table-cell;
  position: relative;
  background-color: lavender;
  border-radius: 3px;
  vertical-align: middle;
  transition: 0.1s;
}

/* Makes an outline appear when hovering over a tile */
.tile:hover {
  outline: 5px solid rgb(70, 70, 70);
}

.tile-num {
  text-align: center;
  font-size: 36px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.tile-mood {
  position: absolute;
  font-size: 30px;
  right: 0;
  top: 42px;
}

/* selected tile will have a different color */
.selected-tile {
  background-color: lightgreen;
}

/* selected tile will have a different color */
.inactive-tile {
  background-color: gray;
}
