/* generic calendar tile */
.tile {
  height: 50px;
  width: 50px;
  outline: 1px solid black;
  display: table-cell;
  background-color: lavender;
  border-radius: 3px;

  text-align: center;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  vertical-align: middle;
  
  transition: 0.1s;
}

/* Makes an outline appear when hovering over a tile */
.tile:hover {
  outline: 5px solid rgb(70, 70, 70);
}

/* selected tile will have a different color */
.selected-tile {
  background-color: lightgreen;
}
